@import "variables";
@import "mixins";

/**/


.columns {
    .flex-display();
    .flex-flow(row wrap);

    .column {
        .flex(1);
    }
}

.grid {
    .column {
        width: 50%;
        height: 25vw;
        > h3 {
            font-size: 2em;
        }
    }
}

/**/

figure.image.full {
    height: 50vw;
    overflow: hidden;
    figcaption {
        font-size: @font-size-giant;
    }
    svg {
        .icon-size(25vw);
    }
}

/**/
header.main {
    min-height: 50vw;

    h1.logo {
        height: auto;
        img {
            width: 30vw;
        }
    }

    .column {
        padding: 0;
        .flex-display();
        .flex-flow(row wrap);
        .align-content(center);
    }

    h2, p {
        margin: 0 4rem;
    }

    p {
        max-width: 50%;
    }
}

.team {
    height: 80vh;
    img.komuhn {
        width: 50%;
    }
}

.services {
    .flex-display();
    .flex-flow(row wrap);

    > header , .service {
        max-width: 50vw;
        min-height: 50vw;
    }

    > header {
        padding: 0;

        .flex-display();
        .flex-flow(row wrap);
        .align-content(center);

        h2.title {
            font-size: @font-size-giant;
            margin: 3rem 3rem -1rem 3rem;
            padding: 1rem;
            line-height: 1em;
        }
        .content {
            margin: 1rem 3rem 3rem 3rem;
            padding: 1rem;
        }
    }

    .service {

        header, figure {
            padding: 0 4rem;
        }

        header {
            h3, p {
                font-size: @font-size-big;
            }
        }

    }

}

.contacts {
    .flex-direction(row);
    .justify-content(center);
    padding: 4em 0;

    > section {
        width: 30em;
        &.connect {
            img {
                margin: 1em 0 1.35em 0;
            }
        }
    }
}

footer.main {
    height: 80vw;
    img {
         &.logo {
             width: 30em;
         }
    }
}


/* BIGGER SCREENS */
@media screen and (min-width: 1681px) {
    .container {
        width: 1680px;
        margin: 0 auto;
    }

    header.main {
        h1.logo {
            img {
                width: 21em !important;
            }
        }
    }

    header.main,
    main,
    .team,
    footer.main  {
        height: 60em !important;
    }

    .grid {
        .column {
            height: 22.5em !important;
        }
    }
}
