@import "variables";
@import "mixins";

/**/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.columns {
    .flex-display();
    .flex-flow(row wrap);

    .column {
        .flex(1);
    }
}

/**/
header.main {

    h1.logo {
        padding: 14rem 0 0 4rem;

        img {
            width: 12rem;
        }
    }
}

/**/
.intro {
    width: 50vw;
    max-width: 40rem;
    margin-top: -20rem;

    h2, p {
        padding: 4rem;
        max-width: 30rem;
    }

    h2.tagline {
        font-size: @font-size-giant;
        line-height: 1.2em;
    }

    p {
        padding-top: 2rem;

    }
}

/**/
.services {
    .flex-flow(row wrap);
    .justify-content(flex-start);
    position: relative;

    > .image {
        margin-top: -4rem;
        width: 75vw;
        max-width: 60rem;
        height: 40rem;
        position: relative;
        z-index: 99;

        img {
            width: 100%;
            margin-left: 0;
        }
    }

    > header {
        width: 50vw;
        max-width: 40rem;
        margin: -32rem 0 0 -20rem;
        padding: 0;

        h2 {
            font-size: @font-size-giant;
            margin: 4rem 4rem 2.85rem 4rem;
        }
        p {
            margin: 0 4rem;
        }
    }

    .contact-us {
        // background-color: @color-yellow;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 999;
        width: 50vw;
        height: 32rem;

        .flex-center;

        h3 {
            font-size: @font-size-biggest;
            margin: 0;
            line-height: 1.1em;
        }
    }

    /**/
    .strengths {
        position: relative;
        z-index: 9;
        margin-top: -4rem;

        ol {
            padding: 0;
            padding-top: 8rem;
            width: 50vw;
            max-width: 40rem;
            height: 100vh - 12rem;
            min-height: 730px;
            height: 100%;
            > li {
                padding: 0.3em 4rem;

                h3 {
                    font-size: @font-size-biggest;
                }

                .content {
                    position: absolute;
                    right: 0;
                    left: 40rem;
                    top: 0;
                    margin: 0;
                    padding: 0 4rem;
                    height: 100%;
                    display: block;
                    opacity: 0;
                    .transition(opacity .5s ease-in-out);

                    h4 {
                        margin-top: 8.6rem;
                        font-size: @font-size-biggest;
                    }
                    p, ul.hashtags  {
                        max-width: 40rem;
                    }
                }

                &.current {

                    .content {
                        opacity: 1;
                    }
                }
            }
        }

        .nav.dot {
            position: absolute;
            left: 44rem;
            bottom: 4rem;
            width: auto;
            height: auto;
            opacity: 1;
        }
    }
}

/**/
.team {
    .flex-display();
    .flex-flow(row wrap);
    //.justify-content(center);
    //margin: 9vw 0;

    .member {
        .flex-flow(row-reverse wrap);

        header, figure {
            .flex(1);

        }

        header {
            margin-right: 0;
            margin-top: 0;
            padding: 4rem;
            max-width: 32rem;

            h3 {
                font-size: @font-size-giant;
                padding-bottom: 0.3em;
                margin-bottom: 1rem;
            }

            aside.links {
                > button {
                    right: auto;
                    left: -2rem;
                    top: 50%;
                    .transform( translateY(-50%) );
                    // bottom: 4rem;
                }

                ul {
                    padding-bottom: 6rem;
                }
            }
        }
        figure {
            max-width: 40rem;

            > img {
                height: 40rem;
            }
        }

        &:nth-child(even) {
            .flex-flow(row wrap);
            header {
                margin-left: 0;
                text-align: right;
                aside.links {
                    button {
                        right: -2rem;
                        left: auto;
                    }
                }
            }
        }
    }

    div {
        padding: 0;
        align-self: center;
        h3 {
            font-size: @font-size-giant;
            margin: 4rem 4rem 2.85rem 4rem;
        }
        p {
            margin: 0 4rem;
        }
    }
    div, figure {
        .flex(1);
        width: 50vw;
        max-width: 40rem;
    }
    figure {
        img {
            max-width: 100%;
        }
    }
}

/**/
.social-media {
    a {
        .icon {
            .icon-size(1.5rem);
        }
    }
}

/**/
footer.main {
    .contact,
    .made-with-colab  {
        .flex(1);
        height: 50vw;
    }
    .contact {
        .wrap {
            h2 {
                font-size: 5rem;
            }
        }
    }
    .made-with-colab {
        a {
            img {
                width: 30%;
            }
        }
    }
    .social-media {
        height: 30vw;
        a {
            margin: 1rem;
            .icon {
                .icon-size(2rem);
            }
        }
    }
}

/* screen is smaller then 1280px */
@media screen and (max-width: 1280px) {
    body {
        // background-color: red !important;
    }
    .services {
        > .image {
            margin-top: 0;
            width: 50vw;
            img {
                width: auto;
                height: 40rem;
            }
        }
        > header {
            margin: -72rem 0 0 50vw;
        }
        .contact-us {
            height: 40rem;
        }
        .strengths {
            margin-top: 0;
            ol {
                padding-top: 4rem;
                height: 100vh - 8rem;
                > li {
                    .content {
                        left: 50vw;
                        h4 {
                            margin-top: 4rem;
                        }
                    }
                }
            }
            .nav {
                left: 50vw + 6rem;
            }
        }
    }
}
