/**/
/* MIXINS */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.flex-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
/**/
.wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
header.main,
main {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100vh;
}
header.main h1.logo img {
  width: 25vw;
}
main {
  padding: 0;
}
main h2.tagline {
  font-size: 2.5rem;
  margin-left: 4rem;
}
main p.description {
  font-size: 1.5rem;
  width: 70%;
  margin-left: 4rem;
}
.team {
  height: 80vh;
}
.team img.komuhn {
  width: 50%;
}
.services {
  min-height: 50vw;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.services > header,
.services .service {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 50vw;
}
.services > header {
  padding: 0;
}
.services > header h2.title {
  font-size: 3.5rem;
  margin: 3rem 3rem -1rem 3rem;
  padding: 1rem;
  line-height: 1em;
}
.services > header .content {
  margin: 1rem 3rem 3rem 3rem;
  padding: 1rem;
}
.services .service {
  height: auto;
}
.services .service header,
.services .service figure {
  padding: 0 4rem;
}
.services .service header h3,
.services .service header p {
  font-size: 1.5rem;
}
.grid .column {
  width: 50%;
  height: 25vw;
}
.grid .column > h3 {
  font-size: 2em;
}
.contacts {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  padding: 4em 0;
}
.contacts > section {
  width: 30em;
}
.contacts > section.connect img {
  margin: 1em 0 1.35em 0;
}
footer.main {
  height: 80vw;
}
footer.main img.logo {
  width: 30em;
}
/* BIGGER SCREENS */
@media screen and (min-width: 1681px) {
  .container {
    width: 1680px;
    margin: 0 auto;
  }
  header.main h1.logo img {
    width: 21em !important;
  }
  header.main,
  main,
  .team,
  footer.main {
    height: 60em !important;
  }
  .grid .column {
    height: 22.5em !important;
  }
}
