/**/
/* MIXINS */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.flex-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
/**/
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.columns {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.columns .column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/**/
header.main h1.logo {
  padding: 14rem 0 0 4rem;
}
header.main h1.logo img {
  width: 7rem;
}
/**/
.intro {
  width: 50vw;
  max-width: 40rem;
  margin-top: -20rem;
}
.intro h2,
.intro p {
  padding: 4rem;
  max-width: 30rem;
}
.intro h2.tagline {
  font-size: 3.74rem;
  line-height: 1.2em;
}
.intro p {
  padding-top: 2rem;
}
/**/
.services {
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  position: relative;
  /**/
}
.services > .image {
  margin-top: -4rem;
  width: 75vw;
  max-width: 60rem;
  height: 40rem;
  position: relative;
  z-index: 99;
}
.services > .image img {
  width: 100%;
  margin-left: 0;
}
.services > header {
  width: 50vw;
  max-width: 40rem;
  margin: -30rem 0 0 -20rem;
  padding: 0;
}
.services > header h2 {
  font-size: 3.74rem;
  margin: 4rem 4rem 2.85rem 4rem;
}
.services > header p {
  margin: 0 4rem;
}
.services .contact-us {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  width: 50vw;
  height: 32rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.services .contact-us h3 {
  font-size: 2.64rem;
  margin: 0;
  line-height: 1.1em;
}
.services .strengths {
  position: relative;
  z-index: 9;
  margin-top: -4rem;
}
.services .strengths ol {
  padding: 0;
  padding-top: 8rem;
  width: 50vw;
  max-width: 40rem;
  height: 88vh;
  min-height: 730px;
  height: 100%;
}
.services .strengths ol > li {
  padding: 0.3em 4rem;
}
.services .strengths ol > li h3 {
  font-size: 2.64rem;
}
.services .strengths ol > li .content {
  position: absolute;
  right: 0;
  left: 40rem;
  top: 0;
  margin: 0;
  padding: 0 4rem;
  height: 100%;
  display: block;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}
.services .strengths ol > li .content h4 {
  margin-top: 8.6rem;
  font-size: 2.64rem;
}
.services .strengths ol > li .content p,
.services .strengths ol > li .content ul.hashtags {
  max-width: 40rem;
}
.services .strengths ol > li.current .content {
  opacity: 1;
}
.services .strengths .nav.dot {
  position: absolute;
  left: 44rem;
  bottom: 4rem;
  width: auto;
  height: auto;
  opacity: 1;
}
/**/
.team {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.team .member {
  -webkit-flex-flow: row-reverse wrap;
  -ms-flex-flow: row-reverse wrap;
  flex-flow: row-reverse wrap;
}
.team .member header,
.team .member figure {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.team .member header {
  margin-right: 0;
  margin-top: 0;
  padding: 4rem;
  max-width: 32rem;
}
.team .member header h3 {
  font-size: 3.74rem;
  padding-bottom: 0.3em;
  margin-bottom: 1rem;
}
.team .member header aside.links > button {
  right: auto;
  left: -2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.team .member header aside.links ul {
  padding-bottom: 6rem;
}
.team .member figure {
  max-width: 40rem;
}
.team .member figure > img {
  height: 40rem;
}
.team .member:nth-child(even) {
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.team .member:nth-child(even) header {
  margin-left: 0;
  text-align: right;
}
.team .member:nth-child(even) header aside.links button {
  right: -2rem;
  left: auto;
}
.team div {
  padding: 0;
  align-self: center;
}
.team div h3 {
  font-size: 3.54rem;
  margin: 4rem 4rem 2.85rem 4rem;
}
.team div p {
  margin: 0 4rem;
}
.team div,
.team figure {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 50vw;
  max-width: 40rem;
}
/**/
.social-media a .icon {
  width: 1.5rem;
  height: 1.5rem;
}
/**/
footer.main .contact,
footer.main .made-with-colab {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
footer.main .contact {
  height: 50vw;
}
footer.main .contact .wrap h2 {
  font-size: 5rem;
}
footer.main .made-with-colab {
  height: 60vw;
  margin-top: -10vw;
  margin-left: -2rem;
}
footer.main .made-with-colab a img {
  width: 30%;
}
footer.main .social-media {
  height: 30vw;
}
footer.main .social-media a {
  margin: 1rem;
}
footer.main .social-media a .icon {
  width: 2rem;
  height: 2rem;
}
/* screen is smaller then 1280px */
@media screen and (max-width: 1280px) {
  .services > .image {
    margin-top: 0;
    width: 50vw;
  }
  .services > .image img {
    width: auto;
    height: 40rem;
  }
  .services > header {
    margin: -72rem 0 0 50vw;
  }
  .services .contact-us {
    height: 40rem;
  }
  .services .strengths {
    margin-top: 0;
  }
  .services .strengths ol {
    padding-top: 4rem;
    height: 92vh;
  }
  .services .strengths ol > li .content {
    left: 50vw;
  }
  .services .strengths ol > li .content h4 {
    margin-top: 4rem;
  }
  .services .strengths .nav {
    left: 56vw;
  }
}
/*# sourceMappingURL=full.css.map */