/**/
/* MIXINS */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.flex-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
/* RESET */
h1,
h2,
h3,
h4,
h5,
p,
a {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: #222222;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Open Sans", Helvetica, sans-serif;
  font-weight: bold;
}
p {
  line-height: 1.5em;
}
figure {
  padding: 0;
  margin: 0;
}
figure.image {
  position: relative;
}
figure.image img {
  width: 100%;
  display: block;
}
figure.image figcaption,
figure.image svg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 999;
  font-size: 1.76rem;
  color: #FFFFFF;
  font-weight: 300;
}
figure.image svg {
  width: 40%;
  height: 40%;
  fill: #FEF200;
}
/**/
a.button {
  display: inline-block;
  background-color: #FFFFFF;
  border: #222222 1px solid;
  padding: 0.8em 2em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #666;
  text-decoration: none;
  font-family: "Helvetica Neue", "Open Sans", Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
a.button:hover {
  border-color: #999;
  color: #222;
}
a.button.facebook {
  background-color: #3b5998;
  border-color: #3b5998;
  color: #ffffff;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
a.button.facebook:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.buttons a.button {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.buttons a.button:nth-child(odd) {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.buttons a.button:nth-child(even) {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/**/
.wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: center;
  -ms-align-content: center;
  align-content: center;
  height: 100vh;
}
/**/
/**/
/**/
header.main {
  background-color: #321979;
  background-image: url("../img/pic-demonstration.jpg");
  background-size: cover;
  background-position: center center;
  background-blend-mode: color-dodge;
  width: 100vw;
  height: 40rem;
}
header.main h1.logo {
  padding: 11rem 0 0 2rem;
}
header.main h1.logo img {
  width: 10rem;
}
/**/
.intro {
  background-color: #321979;
  width: 90vw;
  margin-top: -24rem;
  overflow: auto;
  position: relative;
  z-index: 999;
}
.intro h2,
.intro p {
  color: #D59CE0;
  padding: 2rem;
}
.intro h2.tagline {
  font-size: 2.2rem;
  padding-bottom: 0;
}
.services {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  /**/
}
.services > .image {
  overflow: hidden;
  margin-top: -6rem;
}
.services > .image img {
  width: 200%;
  height: auto;
  margin-left: -40%;
}
.services > header {
  padding: 2rem;
}
.services > header h2,
.services > header p {
  color: #321979;
}
.services > header h2 {
  font-size: 2.64rem;
  line-height: 1em;
  background: transparent url("../img/bkg-arrow-down-green.svg") left bottom repeat-x;
  background-size: 1rem;
  padding-bottom: 0.3em;
  display: inline-block;
  padding-bottom: 0.2em;
  margin-bottom: 1rem;
}
.services .strengths {
  width: 100vw;
  background-color: #321979;
}
.services .strengths ol {
  background-color: #24C398;
  padding: 2rem 0 2rem 2rem;
  margin: 0;
  list-style-type: none;
  counter-reset: my-counter;
}
.services .strengths ol > li {
  padding: 0.1em 0;
  overflow: hidden;
}
.services .strengths ol > li:before {
  content: counter(my-counter, decimal-leading-zero);
  counter-increment: my-counter;
  font-size: 1em;
  font-weight: 600;
  margin-left: -1.4em;
}
.services .strengths ol > li h3 {
  font-family: "Helvetica Neue", "Open Sans", Helvetica, sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  color: #089171;
  display: inline;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
}
.services .strengths ol > li h3:hover,
.services .strengths ol > li h3:focus,
.services .strengths ol > li h3:active {
  color: #FFFFFF;
}
.services .strengths ol > li .content {
  background-color: #321979;
  padding: 2rem;
  margin: 1rem 0;
  display: none;
}
.services .strengths ol > li .content p,
.services .strengths ol > li .content h4 {
  color: #FFFFFF;
  margin: 0;
}
.services .strengths ol > li .content h4 {
  display: inline-block;
  font-size: 1.76rem;
  background: transparent url("../img/bkg-arrow-down-green.svg") left bottom repeat-x;
  background-size: 1rem;
  padding-bottom: 0.3em;
  margin-bottom: 1em;
}
.services .strengths ol > li.current h3 {
  color: #321979;
  cursor: default;
}
.services .strengths ol > li.current .content {
  display: block;
}
.services .strengths ol > li.current:before {
  color: #321979;
  margin-left: 0;
}
.services .strengths .nav {
  display: none;
}
/**/
.team .member {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: column-reverse wrap;
  -ms-flex-flow: column-reverse wrap;
  flex-flow: column-reverse wrap;
  position: relative;
}
.team .member header {
  background-color: #FFFFFF;
  margin-right: 2rem;
  margin-top: -50vw;
  position: relative;
  z-index: 9;
  padding: 2rem;
}
.team .member header h3 {
  display: inline-block;
  font-size: 2.64rem;
  line-height: 1em;
  color: #222222;
  background: transparent url("../img/bkg-arrow-down-yellow.svg") left bottom repeat-x;
  background-size: 1rem;
  padding-bottom: 0.3em;
  margin-bottom: 1rem;
}
.team .member header aside.links button {
  background-color: #222222;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border: none;
  padding: 1.3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: absolute;
  right: 2rem;
  top: -2rem;
  z-index: 9999;
}
.team .member header aside.links button .icon {
  fill: #FFFFFF;
  width: 1.2rem;
  height: 1.2rem;
  display: block;
}
.team .member header aside.links button:hover {
  background-color: #EEEEEE;
}
.team .member header aside.links button:hover .icon {
  fill: #222222;
}
.team .member header aside.links button:focus {
  outline: none;
}
.team .member header aside.links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background-color: #FFFFFF;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.team .member header aside.links ul li {
  margin: 0.5rem 0;
}
.team .member header aside.links ul li a .icon {
  width: 2rem;
  height: 2rem;
  fill: #222222;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.team .member header aside.links ul li a:hover .icon {
  fill: rgba(0, 0, 0, 0.3);
}
.team .member header aside.links ul li a:nth-child(5) {
  margin-right: 0;
}
.team .member header aside.links.active button {
  background-color: #EEEEEE;
}
.team .member header aside.links.active button .icon {
  fill: #222222;
}
.team .member header aside.links.active ul {
  opacity: 1;
}
.team .member figure {
  width: 100vw;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.team .member span.wiggly {
  position: absolute;
  left: 2rem;
  top: 36rem;
  z-index: 9;
  width: 10rem;
  height: 0.6rem;
  background: transparent url("../img/bkg-arrow-down-yellow.svg") left center repeat-x;
  background-size: contain;
}
.team .member:nth-child(even) header {
  margin-right: 0;
  margin-left: 2rem;
}
.team .member:nth-child(even) span.wiggly {
  left: 4rem;
}
.team .member:nth-child(n+2) {
  margin-top: -6rem;
}
.team .member.tita span.wiggly {
  width: 7.6rem;
}
.team .member.pepe span.wiggly {
  width: 5.3rem;
}
.team .member.ri span.wiggly {
  width: 10.3rem;
}
.team .member.su span.wiggly {
  width: 12.2rem;
}
/**/
menu.social-media {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
}
menu.social-media a {
  margin: 0.5rem;
}
menu.social-media a .icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #222222;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
menu.social-media a:hover .icon {
  fill: rgba(34, 34, 34, 0.5);
}
menu.social-media.collapse {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 3.8rem;
  height: 3.8rem;
  overflow: hidden;
  margin-left: 0;
}
menu.social-media.collapse button {
  background-color: #222222;
  border: none;
  padding: 1.3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-right: .5rem;
}
menu.social-media.collapse button .icon {
  fill: #FFFFFF;
  width: 1.2rem;
  height: 1.2rem;
  display: block;
}
menu.social-media.collapse > .collapse {
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
menu.social-media.collapse:hover {
  width: auto;
  height: auto;
}
menu.social-media.collapse:hover > .collapse {
  opacity: 1;
}
footer.main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
footer.main .contact,
footer.main .social-media,
footer.main .made-with-colab {
  width: 100vw;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
footer.main .contact header {
  text-align: center;
}
footer.main .contact header h2 {
  font-size: 3.74rem;
  font-family: "Helvetica Neue", "Open Sans", Helvetica, sans-serif;
  color: #FB4D5B;
  display: inline-block;
  background: transparent url("../img/bkg-arrow-down-green.svg") left bottom repeat-x;
  background-size: 1rem;
  padding-bottom: 0.3rem;
}
footer.main .contact header a.button {
  background-color: transparent;
  border-color: #FB4D5B;
  color: #FB4D5B;
  margin-top: 2rem;
}
footer.main .contact header a.button:hover {
  background-color: #FB4D5B;
  color: #FFFFFF;
}
footer.main .contact header p {
  text-align: center;
  padding: 0 10vw;
  color: #1E0959;
}
footer.main .made-with-colab {
  background-color: #FB4D5B;
}
footer.main .made-with-colab a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
footer.main .made-with-colab a img {
  width: 50%;
  display: block;
}
footer.main .made-with-colab a.button {
  background-color: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF;
  margin-top: 2rem;
}
footer.main .made-with-colab a.button:hover {
  background-color: #FFFFFF;
  color: #FB4D5B;
}
footer.main .made-with-colab p {
  text-align: center;
  padding: 0 10vw;
  color: #222222;
}
footer.main .social-media {
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  background-color: #321979;
}
footer.main .social-media a {
  margin: 0.5rem;
}
footer.main .social-media a .icon {
  fill: #8C6CC2;
}
footer.main .social-media a:hover .icon {
  fill: #FFFFFF;
}
/**/
.grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
