
@color-white: #FFFFFF;
@color-blue: #2D2C86;
@color-green: #1EE29C;
@color-red: #F84D5A;
@color-yellow: #E1E22D;

@font-text: 'Open Sans', Helvetica, sans-serif;
@font-size-biggest: 2.5rem;
@font-size-bigger: 2rem;
@font-size-big: 1.5rem;
@font-size-medium: 1.1rem;

/* RESET */
h1, h2, h3 , h4, h5 {margin: 0; padding: 0;}
h1, h2, h3 , h4, h5,
p, a {
    font-family: @font-text;
    font-size: @font-size-medium;
    font-weight: 400;
    color: #222222;

    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

figure {
    padding: 0;
    margin: 0;
}

/**/

body {}

a.button {

    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    padding: 0.8em 2em;
    .border-radius();
    color: #666;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.05em;
    .transition(.5s);

    &:hover {
        border-color: #999;
        color: #222;
    }

    &.facebook {
        background-color: #3b5998;
        border-color: #3b5998;
        color: #ffffff;
        .opacity(0.8);

        &:hover {
            .opacity(1);
        }
    }
}

.buttons {
    .flex-display();
    .flex-flow(row wrap);
    .align-items(center);

    a.button {
        .flex(1);

        &:nth-child(odd) {
            .border-radiuses(0,0,5px,5px);
        }
        &:nth-child(even) {
            .border-radiuses(5px,5px,0,0)
        }
    }
}

header.main {
    background-color: @color-blue;
    height: 100vw;

    .flex-center;
    .clearfix;

    h1.logo {
        img {
            width: 50vw;
        }
    }
}

main {
    background-color: @color-green;
    padding: 2em;

    .flex-center;
    .clearfix;

    .content {

        h2, p {
            color: @color-white;
        }

        h2.tagline {
            font-size: @font-size-bigger;
            font-weight: 300;
            padding-bottom: 1em;

            i {
                font-weight: 600;
            }
        }
    }
}

/**/
section {}

.team {
    background-color: @color-red;
    height: 100vw;

    .flex-center;
    .clearfix;

    img.komuhn {
        width: 70%;
    }
}

.services {

    header {
        background-color: @color-blue;
        padding: 2em;

        h2, p {
            color: @color-white;
        }

        h2.title {
            font-size: @font-size-bigger;
            font-weight: 300;
            padding-bottom: 1em;
        }

    }

    .service {
        &.design {
            > h3 {
                background-color: @color-blue;
                color: @color-green;
            }
            > figure {
                background-color: @color-green;
                img { width: 80%; }
            }
        }
        &.spaces {
            > h3 {
                background-color: @color-red;
                color: @color-yellow;
            }
            > figure {
                background-color: @color-yellow;
                img { width: 60%; }
            }
        }
        &.content {
            > h3 {
                background-color: @color-green;
                color: @color-yellow;
            }
            > figure {
                background-color: @color-yellow;
            }
        }
        &.problem-solving {
            > h3 {
                background-color: @color-blue;
                color: @color-red;
            }
            > figure {
                background-color: @color-red;
            }
        }
        &.organization {
            > h3 {
                background-color: @color-blue;
                color: @color-yellow;
            }
            > figure {
                background-color: @color-yellow;
            }
        }
        &.participation {
            > h3 {
                background-color: @color-green;
                color: @color-red;
            }
            > figure {
                background-color: @color-red;
            }
        }
        &.learning {
            > h3 {
                background-color: @color-blue;
                color: @color-red;
            }
            > figure {
                background-color: @color-red;
            }
        }
        &.research {
            > h3 {
                background-color: @color-yellow;
                color: @color-red;
            }
            > figure {
                background-color: @color-red;
            }
        }
    }
}

.grid {
    .flex-display();
    .flex-flow(row wrap);

    .column {
        .flex-display();
        .flex-flow(row-reverse wrap);
        width: 100vw;
        height: 50vw;

        &:nth-child(even) {
            .flex-direction(row);
        }

        > h3 {
            .flex(1);
            .flex-center;
            font-size: 1.8em;
            font-weight: 400;
            color: @color-white;
            text-align: center;
            line-height: 1em;
        }

        > figure {
            .flex(1);
            .flex-center;

            img { width: 50%; }

        }
    }
}

.contacts {
    .flex-display();
    .flex-flow(column wrap);
    margin-bottom: 4em;

    > section {
        padding: 4em 2em 0 2em;

        .flex-display();
        .flex-flow(column wrap);
        .align-items(center);

        > img {
            width: 30%;
        }

        > h3 {
            text-align: center;
            font-weight: 400;
            font-size: 1.8em;
        }

        > p {
            text-align: center;
            color: #666;
        }
    }

    .participate {

    }

    .connect {

    }

}

footer.main {
    .flex-center;
    height: 100vw;
    background-color: #efefef;

    img {
         &.logo {
             width: 14em;
             .opacity(0.4);
         }
         &.colab {
             width: 7em;
             margin-top: 3em;
         }
    }
}

/**/
@media screen and (min-width: 1681px) {
    .container {
        width: 1680px;
        margin: 0 auto;
    }

    header.main {
        h1.logo {
            img {
                width: 21em !important;
            }
        }
    }

    header.main,
    main,
    .team,
    footer.main  {
        height: 60em !important;
    }

    .grid {
        .column {
            height: 22.5em !important;
        }
    }
}

/**/
@media screen and (min-width: 1025px) {

    .wrap {
        .flex-display();
        .flex-flow(row wrap);

        header.main,
        main {
            .flex(1);
            height: 60vw;
        }

        header.main {
            h1.logo {
                img {
                    width: 25vw;
                }
            }
        }

        main {
            padding: 0;

            h2.tagline {
                font-size: @font-size-biggest;
                margin-left: 4rem;
            }
            p.description {
                font-size: @font-size-big;
                width: 70%;
                margin-left: 4rem;
            }
        }
    }

    .team {
        min-height: 80vh;
        img.komuhn {
            width: 50%;
        }
    }

    .services {
        header {
            min-height: 80vh;
            padding: 4em;

            .flex-display();
            .flex-flow(column wrap);
            .justify-content(center);
            .align-items(left);

            h2 {}
            .wrap {}
        }

    }

    .services {
        .service {
            &.design { .flex-order(0); }
            &.spaces { .flex-order(2); }
            &.content { .flex-order(1); }
            &.problem-solving { .flex-order(3); }
            &.organization { .flex-order(4); }
            &.participation { .flex-order(6); }
            &.learning { .flex-order(5); }
            &.research { .flex-order(7); }
        }
    }

    .grid {
        .column {
            width: 50%;
            height: 25vw;
            > h3 {
                font-size: 2em;
            }
        }
    }

    .contacts {
        .flex-direction(row);
        .justify-content(center);
        padding: 4em 0;

        > section {
            width: 30em;
            &.connect {
                img {
                    margin: 1em 0 1.35em 0;
                }
            }
        }
    }

    footer.main {
        height: 80vw;
        img {
             &.logo {
                 width: 30em;
             }
        }
    }
}


/* MIXINS */

.clearfix {
    *zoom: 1;

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.flex-center {
    .flex-display();
    .flex-flow(column wrap);
    .justify-content(center);
    .align-items(center);
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
	-webkit-border-top-right-radius:    @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius:  @bottomleft;
	-webkit-border-top-left-radius:     @topleft;

	-moz-border-radius-topright:        @topright;
	-moz-border-radius-bottomright:     @bottomright;
	-moz-border-radius-bottomleft:      @bottomleft;
	-moz-border-radius-topleft:         @topleft;

	border-top-right-radius:            @topright;
	border-bottom-right-radius:         @bottomright;
	border-bottom-left-radius:          @bottomleft;
	border-top-left-radius:             @topleft;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

.opacity (@opacity: 0.5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}

.transition (@transition) {
	-webkit-transition: @transition;
	-moz-transition:    @transition;
	-ms-transition:     @transition;
	-o-transition:      @transition;
}


// --------------------------------------------------
// Flexbox LESS mixins
// The spec: http://www.w3.org/TR/css3-flexbox
// --------------------------------------------------

// Flexbox display
// flex or inline-flex
.flex-display(@display: flex) {
	display: ~"-webkit-@{display}";
	display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
	display: ~"-ms-@{display}"; // IE11
	display: @display;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
.flex(@columns: initial) {
  -webkit-flex: @columns;
      -ms-flex: @columns;
          flex: @columns;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
.flex-direction(@direction: row) {
  -webkit-flex-direction: @direction;
      -ms-flex-direction: @direction;
          flex-direction: @direction;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
.flex-wrap(@wrap: nowrap) {
  -webkit-flex-wrap: @wrap;
      -ms-flex-wrap: @wrap;
          flex-wrap: @wrap;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
.flex-flow(@flow) {
  -webkit-flex-flow: @flow;
      -ms-flex-flow: @flow;
          flex-flow: @flow;
}

// Display Order
// - applies to: flex items
// <integer>
.flex-order(@order: 0) {
  -webkit-order: @order;
      -ms-order: @order;
          order: @order;
}

// Flex grow factor
// - applies to: flex items
// <number>
.flex-grow(@grow: 0) {
  -webkit-flex-grow: @grow;
      -ms-flex-grow: @grow;
          flex-grow: @grow;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number>
.flex-shrink(@shrink: 1) {
  -webkit-flex-shrink: @shrink;
      -ms-flex-shrink: @shrink;
          flex-shrink: @shrink;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width>
.flex-basis(@width: auto) {
  -webkit-flex-basis: @width;
      -ms-flex-basis: @width;
          flex-basis: @width;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
.justify-content(@justify: flex-start) {
  -webkit-justify-content: @justify;
      -ms-justify-content: @justify;
          justify-content: @justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch
.align-content(@align: stretch) {
  -webkit-align-content: @align;
      -ms-align-content: @align;
          align-content: @align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
.align-items(@align: stretch) {
  -webkit-align-items: @align;
      -ms-align-items: @align;
          align-items: @align;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch
.align-self(@align: auto) {
  -webkit-align-self: @align;
      -ms-align-self: @align;
          align-self: @align;
}
