/**/
@color-black: #222222;
@color-black-transparent: rgba(0, 0, 0, 0.3);
@color-blue: #0B67FF;
@color-blue-light: #429FF3;
@color-purple-dark: #1E0959;
@color-purple: #321979;
@color-purple-light: #8C6CC2;
@color-purple-lighter: #D59CE0;
@color-green-dark: #089171;
@color-green: #24C398;
@color-red: #FB728D;
@color-yellow: #FEF200;
@color-white: #FFFFFF;
@color-grey: #CCCCCC;
@color-grey-light: #EEEEEE;

@font-text: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
@font-header: "Helvetica Neue", "Open Sans", Helvetica, sans-serif;
@font-size-super: @font-size-medium * 5;
@font-size-giant: @font-size-medium * 3.4;
@font-size-biggest: @font-size-medium * 2.4;
@font-size-bigger: @font-size-medium * 2; //2rem;
@font-size-big: @font-size-medium * 1.6;
@font-size-medium: 1.1rem;
