// @import "css/normalize.css";
@import "variables";

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    color: #222;
    line-height: 1.4;

    padding: 2rem;
}

hr {
    margin: 4rem auto 2rem;
    border-style: solid;
    border-width: .5px;
}

time {
    font-size: 1em;
    // font-weight: bold;
    white-space: nowrap;

    padding: .2rem .5rem;
    background-color: #eee;
}

p.author {
    display: inline-flex;
    align-items: center;
    img {
        border-radius: 50%;
        border: 1px solid black;
        width: 2em;
        height: 2em;
        margin-right: .5em;
    }
}

p.last-edit {
    font-size: smaller;
    time {
        padding: 0;
        background-color: transparent;
    }
}

.post-details {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    p.author {
        margin-right: 1em;
    }

    p.last-edit {
        width: 100%;
    }

}


header.main-header {
    h1.logo {
        > a {
            text-decoration: none;
            color: #222;
        }
    }
}

footer.main-footer {
    .menu-where-we-are-container {
        li {
            a, a:link, a:visited, a:hover, a:active, a:-webkit-any-link {
                pointer-events: none;
                cursor: default;

                color: black;
                text-decoration: none;
                span {
                    pointer-events: auto;
                    cursor: pointer;
                    
                    color: blue;
                    text-decoration: underline;
                } 
            }
        }
    }
}

.home {
    header.main-header {

        h1.logo {
            font-size: 3.5em;
        }
    }

    section {
        margin-bottom: 4rem;

        article {
            > header {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                h1 {
                    width: 100%;
                    font-size: 2.7em;
                    margin-bottom: 1rem;
                    line-height: 1.1em;
                }
            }
        }
    }

    h1.section-title {
        text-transform: uppercase;
        font-size: 1em;
    }

    section.intro {
        > header {
            margin-bottom: 4rem;

            h1 {
                span.pre {
                    display: block;
                    // font-size: 1.5em;
                }
            }
        }

    }

    section.posts {

        article {
            // background-color: pink;

            > header {
                h1 {
                    margin-bottom: 1rem;
                    line-height: 1em;
                }

                time {}
            }

        }
    } // .posts


    section.log {

        article {
            background-color: #efefef;
            border: #222 .5px dashed;
            padding: 1rem;
            margin-bottom: 2rem;

            font-size: .9em;

            > header {
                display: flex;
                flex-flow: row wrap;
                align-items: center;

                h1 {
                    order: 1;

                    font-size: 1.2em;
                    margin-top: 0;
                    margin-bottom: 0;
                    line-height: 1.2em;
                }

                p.author {
                    margin-right: 1em;
                }
                
                time {
                    order: 0;
                    align-self: center;

                    background-color: transparent;
                    border: #222 .5px solid;
                    margin-right: 1rem;
                    //margin-bottom: .5rem;
                }
            }

            ul {
                padding-left: inherit;

                li {

                }
            }

            img {
                display: block;
                max-width: 100px;
                margin: .5rem .5rem .5rem 0;
            }

            &:first-of-type {
                background-color: lightyellow;
            }

        }
    } // .log
} //.home

// SINGLE PAGE
.single {

    header.main-header {
        h1.logo {
            > a {
                text-decoration: none;
                color: #ccc;
            }
        }
    }

    main {

        > header {
            margin-bottom: 2rem;

            h1.post-title {
                font-size: 4em;
                word-break: break-all;
                line-height: 1em;
                margin-bottom: 0;
            }

            details.excerpt {
                > summary {
                    display: none;
                }

                font-family: Cambria, Georgia, serif;
                font-style: italic;
                font-size: 1.3em;
                color: #555;
            }

        }

        > p {
            font-weight: 400;
            line-height: 1.5em;
        }

        p.tldr {
            font-size: 1.1em;
            font-style: italic;

            border: 1px #bbb dashed;
            padding: .5rem;
            margin: 4em -.5rem 2rem -.5rem;

            &::before {
                content: 'TL;DR ';
                font-family: monospace;
                font-size: 1.2em;
                font-weight: 600;
                font-style: normal;
                display: block;
            }
        }

        > ul, > ol {
            li {
                line-height: 1.5;
            }
        }

        > h2 {
            font-size: 1.5em;
        }

        > h3 {
            font-size: 1.3em;
        }

        > h4 {
            font-size: 1.1em;
        }

        > blockquote {
            border-left: 10px #ccc solid;
            padding-left: 1em;
            font-family: Cambria, Georgia, serif;
            font-style: italic;
            font-size: 1.5em;
            margin: 2em 0;
        }
    }


} //.single

@import "full" @desktop;
