:root {
    /** TODO Use modern colors? */
    --light: white;
    --light-grey: #999;
    --mid-grey: #666;
    --dark-grey: #444;
    --dark: #222;
    --light-blue: #a2e2eb;
    --dark-blue: #4edcf1;
    --light-green: #b4ffe4;
    --dark-green: #51f6bb;
    --light-yellow: #ffe8bb;
    --dark-yellow: #fcc57a;
    --light-red: #ffa184;
    --dark-red: #f07b56;

    --foreground: var(--dark);
    --background: var(--light);

    --font-family-sans: Inter, ui-sans-serif, system-ui, BlinkMacSystemFont,
        -apple-system, 'Segoe UI', sans-serif;
    --font-family-serif: 'Crimson Pro', ui-serif, serif;

    --font-size-huge: 64px;
    --font-size-large: 40px;
    --font-size-medium: 22px;
    --font-size-normal: 16px;
    --font-size-small: 14px;

    --font-weight-bold: 700;

    --spacing-huge: 12rem;
    --spacing-large: 6rem;
    --spacing-medium: 3rem;
    --spacing-small: 1.5rem;

    --spacing-horizontal-huge: var(--spacing-large);
    --spacing-horizontal-large: var(--spacing-medium);
    --spacing-horizontal-medium: var(--spacing-medium);
    --spacing-horizontal-small: var(--spacing-medium);
    --spacing-horizontal-tiny: var(--spacing-small);

    --spacing-horizontal-relative: 1em;

    --spacing-vertical-large: var(--spacing-medium);
    --spacing-vertical-medium: var(--spacing-small);
    --spacing-vertical-small: var(--spacing-small);

    --border-thin: 1px solid currentColor;
    --border-thick: 4px solid currentColor;
}

@media (min-width: 500px) {
    :root {
        --font-size-huge: 128px;
        --font-size-large: 64px;
        --font-size-medium: 32px;
        --font-size-normal: 24px;
        --font-size-small: 18px;

        --spacing-horizontal-huge: var(--spacing-huge);
        --spacing-horizontal-large: var(--spacing-huge);
        --spacing-horizontal-medium: var(--spacing-large);
        --spacing-horizontal-tiny: var(--spacing-medium);

        --spacing-vertical-large: var(--spacing-large);
        --spacing-vertical-medium: var(--spacing-medium);
    }
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    transition: all 0.1s;
}

body {
    font-family: var(--font-family-sans);
    font-size: var(--font-size-normal);

    background-color: var(--background);
    color: var(--foreground);

    list-style-position: inside;

    padding-inline: max(calc((100% - 960px) / 2), 2rem);
}

/* INFORMATION */

address {
    font-size: 16px;
}

time {
    font-size: 14px;
}
address {
    font-style: normal;
    font-weight: var(--font-weight-bold);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-serif);
    font-style: italic;

    line-height: 120%;
}

h1 {
    font-size: var(--font-size-huge);
}

h2 {
    font-size: var(--font-size-large);
}

:is(h1, h2, h3, h4, h5, h6) > strong {
    text-decoration: underline;
}

button,
.button {
    display: block;

    /* TODO */
    padding-block: var(--spacing-small);

    font: var(--font-family-sans);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-bold);

    text-decoration: none;
    text-align: center;

    background-color: transparent;
    color: inherit;

    border: var(--border-thin);
    border-radius: 0.5rem;
}

p {
    color: currentColor;
}

p,
li {
    line-height: 150%;
}

/* HEADER */

/* :is(header > nav):has(+ main > header), */
main > header {
    background-color: var(--foreground);
    box-shadow: var(--foreground) 0 0 0 100vw;
    clip-path: inset(-1px -100vw);
    color: var(--background);
    padding-block: var(--spacing-large);
}

main > header {
}

/* RECENT WORK */

#recent-work {
    --background: #0a0a0a;
    --foreground: var(--light);

    background-color: var(--background);
    color: var(--foreground);

    box-shadow: var(--background) 0 0 0 100vw;
    clip-path: inset(-1px -100vw);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-medium);

    padding-block: var(--spacing-huge);
}

#recent-work > :first-child > * + * {
    margin-top: var(--spacing-horizontal-relative);
}

#recent-work > :first-child > h3 > img {
    width: 100%;
}

#recent-work > :first-child > h4 {
    font-family: var(--font-family-sans);
    font-weight: normal;
    font-size: var(--font-size-medium);
}

#recent-work > :last-child > * + * {
    margin-top: var(--spacing-horizontal-relative);
}

#recent-work > :last-child > .button-group-horizontal {
    --foreground: #5f5cf4;

    color: var(--foreground);
}

#recent-work > :last-child > .button-group-horizontal > :last-child {
    background-color: var(--foreground);

    color: var(--background);

    border: none;
}

/* RECENT POSTS */

#recent-posts {
    padding-top: var(--spacing-large);

    /* background-image: linear-gradient(red, blue); */
    /* position: relative; */
}

#recent-posts::before {
    /* z-index: -1; */
    content: 'sss';
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    /* inset: 0; */
    /* top: 0; */
    display: block;
    width: 100vw;
    height: 10px;
}

#recent-posts > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-medium);
}

#recent-posts > div > article {
    grid-row: span 2;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

#recent-posts > div > article:nth-child(3) {
    background-color: red;
    grid-row: auto;
    grid-column: span 2;
}

#recent-posts > div > article > img {
    object-fit: cover;
    aspect-ratio: 1;
    height: auto;
    width: 100%;
}

#recent-posts > div > article > div {
    padding: var(--spacing-small);
    padding-bottom: 0;
    aspect-ratio: 1;
    width: 100%;
}

#recent-posts > div > article > div > * + * {
    margin-top: var(--spacing-horizontal-relative);
}

#recent-posts > div > article > div > a {
    display: block;
}

/* ABOUT */

#about {
    --background: #5f5cf4;
    --foreground: var(--light);

    padding-top: var(--spacing-huge);

    background-color: var(--background);
    color: var(--foreground);

    box-shadow: var(--background) 0 0 0 100vw;
    clip-path: inset(-1px -100vw);
}

#about > header > :not(:last-child) {
    margin-bottom: var(--spacing-small);
}

#about > div {
    margin-top: var(--spacing-large);
}

#about > div > article {
    position: relative;
}

#about > div > article > div {
    --foreground: var(--dark);

    padding: var(--spacing-medium);

    color: var(--foreground);
    background-color: var(--background);

    box-shadow: var(--background) 0 0 0 100vw;
}

#about > div > :nth-child(odd) > div {
    clip-path: inset(0 -100vw 0 0);
}

#about > div > :nth-child(even) > div {
    clip-path: inset(0 0 0 -100vw);
}

#about > div > :nth-child(1) > div {
    --background: #ffb0ac;
}

#about > div > :nth-child(2) > div {
    --background: #ffd0ad;
}

#about > div > :nth-child(3) > div {
    --background: #8fffd7;
}

#about > div > :nth-child(4) > div {
    --background: #a2e2eb;
}

#about > div > :nth-child(5) > div {
    --background: #faef8a;
}

#about > div > article > img {
    position: absolute;

    z-index: 1;
    bottom: 0;
    left: 0;

    translate: -50% 0;
}

/* PARTNERS CLIENTS COLLABORATORS */

#partners-clients-collaborators {
    margin-top: var(--spacing-huge);
}

#partners-clients-collaborators > header > * + * {
    margin-top: var(--spacing-horizontal-relative);
}

#partners-clients-collaborators > header > h2 {
    color: #5f5cf4;
}

#partners-clients-collaborators > div {
    margin-top: var(--spacing-large);

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    place-items: center;
}

/* ARROWS */

.arrow-left::after {
    content: ' ←';
}

.arrow-right::after {
    content: ' →';
}

.arrow-up::after {
    content: ' ↑';
}

.arrow-down::after {
    content: ' ↓';
}

/* BUTTONS */

.button-group-horizontal {
    display: grid;
    align-items: stretch;
    grid-auto-flow: column;
}

.button-group-horizontal > :first-child {
    border-radius: 10px 0 0 10px;
}

.button-group-horizontal > :is(button, .button) {
    border-radius: none;
}

.button-group-horizontal > :is(button, .button):not(:first-child) {
    border-left: none;
}

.button-group-horizontal > :last-child {
    border-radius: 0 10px 10px 0;
}

/*///////////////////////////////////*/
article > header {
    display: grid;

    gap: var(--spacing-medium);

    grid-template-areas:
        'titles author'
        'image image';
}

#titles {
    grid-area: titles;

    margin-top: var(--spacing-large);
}

#titles > * + * {
    margin-top: var(--spacing-horizontal-relative);
}

#titles > h2 {
    font-family: var(--font-family-sans);
    font-style: normal;
    font-weight: normal;

    font-size: 40px;
}

article > header > .author {
    grid-area: author;

    align-self: end;
}

.author {
    display: flex;

    gap: 1rem;
    align-items: center;
}

.author > img {
    height: 64px;
    border-radius: 50%;
}

.author > address {
    display: contents;
}

article > header > img {
    margin-top: var(--spacing-large);
    max-width: 100%;
    grid-area: image;
    background-color: var(--dark);
    box-shadow: var(--foreground) 0 0 0 100vw;
    clip-path: inset(0 -100vw);
}

#content {
    margin-top: var(--spacing-horizontal-medium);
}

#content > h2 {
    font-family: var(--font-family-sans);
    font-style: normal;
    font-weight: normal;
}

#content > *:not(:last-child) {
    margin-bottom: var(--spacing-horizontal-relative);
}

a {
    color: currentColor;
}

/* COMMENTS */

#comments {
    /* TODO */
    margin-top: var(--spacing-horizontal-large);
}

#comments > ol > li ol > li {
    /* TODO */
    margin-left: var(--spacing-large);
    border-left: var(--border-thick);
    padding-left: var(--spacing-small);
}
#comments ol > li > * + * {
    margin-top: 1em;
}

#comments ol > li > header {
    display: flex;
    align-items: center;
    /* TODO */
    gap: 16px;
}

#comments ol > li > p {
    font-size: 18px;
}

#comments ol > li > button {
    font-size: 18px;
    border: none;
    padding: 0;
    color: var(--mid-grey);
}
