:root {
    /** TODO Use modern colors? */
    --light: white;
    --light-grey: #999;
    --mid-grey: #666;
    --dark-grey: #444;
    --dark: #222;
    --transparent-black: #0a0a0a;

    /* --light-blue: #a2e2eb;
    --dark-blue: #4edcf1;
    --light-green: #b4ffe4;
    --dark-green: #51f6bb;
    --light-yellow: #ffe8bb;
    --dark-yellow: #fcc57a;
    --light-red: #ffa184;
    --dark-red: #f07b56; */

    --red: #fab0ac;
    --orange: #ffd0ad;
    --yellow: #faef8a;
    --green: #8fffd7;
    --blue: #a2e2eb;
    --purple: #5f5cf4;

    --foreground: var(--dark);
    --background: var(--light);

    --font-family-sans: Inter, ui-sans-serif, system-ui, BlinkMacSystemFont,
        -apple-system, 'Segoe UI', sans-serif;
    --font-family-serif: 'Crimson Pro', ui-serif, serif;

    /* --font-size-huge: 64px;
    --font-size-large: 40px;
    --font-size-medium: 22px;
    --font-size-normal: 16px;
    --font-size-small: 14px; */

    --font-weight-normal: 400;
    --font-weight-regular: 500;
    --font-weight-bold: 700;

    --spacing-huge: 192px;
    --spacing-large: 96px;
    --spacing-medium: 48px;
    --spacing-small: 24px;
    --spacing-tiny: 16px;

    --spacing-horizontal-relative: 1em;

    --border-thin: 1px solid currentColor;
    --border-thick: 4px solid currentColor;

    --border-radius: 6px;
}

/* @media (min-width: 500px) {
    :root {
        --font-size-huge: 128px;
        --font-size-large: 64px;
        --font-size-x: 40px;
        --font-size-medium: 32px;
        --font-size-normal: 24px;
        --font-size-y: 20px;
        --font-size-small: 18px;
        --font-size-tiny: 16px;
    }
} */

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    transition: all 0.1s;
}

body {
    font-family: var(--font-family-sans);

    background-color: var(--background);
    color: var(--foreground);

    padding-inline: max(calc((100% - 960px) / 2), var(--spacing-medium));
}

ol,
ul {
    list-style-position: inside;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-serif);
    font-style: italic;
}

h1 {
    font-size: 128px;
}

h2 {
    font-size: 64px;
}

h3 {
    font-size: 32px;
}

:is(h1, h2, h3, h4, h5, h6) > strong {
    text-decoration: underline;
}

p {
    color: currentColor;
}

p,
li {
    line-height: 150%;
}

.author {
    display: flex;

    gap: 24px;
    align-items: center;
}

.author > img {
    height: 48px;

    border-radius: 50%;
}

header .author > img {
    height: 64px;
}

.author > div > address {
    font-size: 18px;
    font-style: normal;
    font-weight: var(--font-weight-bold);
}

.author > div > time {
    font-size: 16px;
}

a {
    color: currentColor;
}

/* ARROWS */

.arrow-left::after {
    content: ' ←';
}

.arrow-right::after {
    content: ' →';
}

.arrow-up::after {
    content: ' ↑';
}

.arrow-down::after {
    content: ' ↓';
}

/* BUTTONS */

button,
input {
    display: block;
}

button,
.button {
    display: block;

    padding-block: var(--spacing-tiny);

    font: var(--font-family-sans);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-bold);

    text-decoration: none;
    text-align: center;

    background-color: transparent;
    color: inherit;

    border: var(--border-thin);
    border-radius: var(--border-radius);
}

.button-group-horizontal {
    display: grid;
    align-items: stretch;
    grid-auto-flow: column;
}

.button-group-horizontal > :first-child {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.button-group-horizontal > :is(button, .button) {
    border-radius: none;
}

.button-group-horizontal > :is(button, .button):not(:first-child) {
    border-left: none;
}

.button-group-horizontal > :last-child {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

/* HEADER */

/* :is(header > nav):has(+ main > header), */
main > header {
    background-color: var(--foreground);
    box-shadow: var(--foreground) 0 0 0 100vw;
    clip-path: inset(-1px -100vw);
    color: var(--background);
    padding-block: var(--spacing-large);
}

main > header > * + * {
    margin-top: var(--spacing-horizontal-relative);
}

main > header > p {
    font-size: 64px;
    font-family: var(--font-family-serif);

    line-height: revert;
}

/* RECENT WORK */

#recent-work {
    font-size: 18px;
}

:is(#recent-work, #recent-posts) > h2 {
    font-family: var(--font-family-sans);
    font-style: normal;
    font-size: 24px;

    color: var(--light);

    padding-bottom: var(--spacing-medium);
}

:is(#recent-work, #recent-posts) > h2 > a {
    text-decoration: none;
}

#recent-work > h2 {
    --background: var(--dark);
    --foreground: var(--light);

    background-color: var(--background);
    color: var(--foreground);

    box-shadow: var(--background) 0 0 0 100vw;
    clip-path: inset(-1px -100vw);
}

#recent-work > div {
    --background: var(--transparent-black);
    --foreground: var(--light);

    padding-block: var(--spacing-huge);

    background-color: var(--background);
    color: var(--foreground);

    box-shadow: var(--background) 0 0 0 100vw;
    clip-path: inset(-1px -100vw);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-medium);
}

#recent-work > div > :first-child > * + * {
    margin-top: var(--spacing-horizontal-relative);
}

#recent-work > div > :first-child > h3 > img {
    width: 100%;
}

#recent-work > div > :first-child > h4 {
    font-family: var(--font-family-sans);
    font-weight: normal;
    font-size: 32px;
}

#recent-work > div > :last-child > * + * {
    margin-top: var(--spacing-horizontal-relative);
}

#recent-work > div > :last-child > .button-group-horizontal {
    --foreground: var(--purple);

    color: var(--foreground);
}

#recent-work > div > :last-child > .button-group-horizontal > :last-child {
    background-color: var(--foreground);

    color: var(--background);

    border: none;
}

/* RECENT POSTS */

#recent-posts::before {
    --background: var(--dark);

    content: '';

    height: 400px;

    position: absolute;
    top: 0;
    z-index: -1;

    background-color: var(--background);

    box-shadow: var(--background) 0 0 0 100vw;
    clip-path: inset(0 -100vw);
}

#recent-posts {
    position: relative;
    padding-top: var(--spacing-large);
}

#recent-posts > div {
    margin-top: var(--spacing-medium);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-medium);
}

#recent-posts > div > article:nth-child(3) {
    grid-row: auto;
    grid-column: span 2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: var(--spacing-medium);
}

#recent-posts > div > article > img {
    object-fit: cover;
    aspect-ratio: 1;
    height: auto;
    width: 100%;
}

#recent-posts > div > article > div {
    padding: var(--spacing-small);
    padding-bottom: 0;
}

#recent-posts > div > article > div > h3 {
    font-family: var(--font-family-sans);
    font-style: normal;
}

#recent-posts > div > article > div > h4 {
    font-family: var(--font-family-sans);
    font-size: 20px;
    font-style: normal;
    font-weight: var(--font-weight-regular);
}

#recent-posts > div > article > div > * + * {
    margin-top: var(--spacing-horizontal-relative);
}

#recent-posts > div > article > div > a {
    display: block;

    font-weight: var(--font-weight-regular);

    text-decoration: none;

    color: var(--mid-grey);
}

#recent-posts > button {
    margin: auto;
    margin-top: var(--spacing-medium);

    width: 340px;

    color: var(--mid-grey);
}

#recent-posts > button:hover {
    color: var(--dark);
}

/* ABOUT */

#about {
    --background: var(--purple);
    --foreground: var(--light);

    margin-top: var(--spacing-huge);
    padding-top: var(--spacing-huge);

    font-size: 24px;

    background-color: var(--background);
    color: var(--foreground);

    box-shadow: var(--background) 0 0 0 100vw;
    clip-path: inset(-1px -100vw);
}

#about > header > :not(:last-child) {
    margin-bottom: var(--spacing-small);
}

#about > div {
    margin-top: var(--spacing-large);
}

#about > div > article {
    position: relative;
}

#about > div > article > div {
    --foreground: var(--dark);

    padding: var(--spacing-medium);

    color: var(--foreground);
    background-color: var(--background);

    box-shadow: var(--background) 0 0 0 100vw;
}

#about > div > :nth-child(odd) > div {
    clip-path: inset(0 -100vw 0 0);
}

#about > div > :nth-child(even) > div {
    clip-path: inset(0 0 0 -100vw);
}

#about > div > :nth-child(1) > div {
    --background: #ffb0ac;
}

#about > div > :nth-child(2) > div {
    --background: #ffd0ad;
}

#about > div > :nth-child(3) > div {
    --background: #8fffd7;
}

#about > div > :nth-child(4) > div {
    --background: #a2e2eb;
}

#about > div > :nth-child(5) > div {
    --background: #faef8a;
}

#about > div > article > img {
    position: absolute;

    z-index: 1;
    bottom: 0;

    translate: -50% 0;

    max-width: 136px;
}

#about > div > :nth-child(odd) > img {
    left: 0;

    translate: -50% 0;
}

#about > div > :nth-child(even) > img {
    right: 0;

    translate: 50% 0;
}

/* PARTNERS CLIENTS COLLABORATORS */

#partners-clients-collaborators {
    margin-top: var(--spacing-huge);

    font-size: 24px;
}

#partners-clients-collaborators > header > * + * {
    margin-top: var(--spacing-horizontal-relative);
}

#partners-clients-collaborators > header > h2 {
    color: var(--purple);
}

#partners-clients-collaborators > div {
    margin-top: var(--spacing-large);

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    place-items: center;
}

/* POST */

article > header {
    display: grid;

    gap: var(--spacing-medium);

    grid-template-areas:
        'titles author'
        'image image';
}

#titles {
    grid-area: titles;

    margin-top: var(--spacing-large);
}

#titles > * + * {
    margin-top: var(--spacing-horizontal-relative);
}

#titles > h2 {
    font-family: var(--font-family-sans);
    font-style: normal;
    font-weight: normal;

    font-size: 40px;
}

article > header > .author {
    grid-area: author;

    align-self: end;
}

article > header > img {
    margin-top: var(--spacing-large);
    max-width: 100%;
    height: auto;
    grid-area: image;
    background-color: var(--dark);
    box-shadow: var(--foreground) 0 0 0 100vw;
    clip-path: inset(0 -100vw);
}

#content {
    margin-top: var(--spacing-horizontal-medium);
}

#content > h2 {
    font-family: var(--font-family-sans);
    font-style: normal;
    font-weight: normal;
}

#content > *:not(:last-child) {
    margin-bottom: var(--spacing-horizontal-relative);
}

/* COMMENTS */

#comments {
    /* TODO */
    margin-top: var(--spacing-horizontal-large);
}

#comments > ol > li ol > li {
    /* TODO */
    margin-left: var(--spacing-large);
    border-left: var(--border-thick);
    padding-left: var(--spacing-small);
}
#comments ol > li > * + * {
    margin-top: 1em;
}

#comments ol > li > header {
    display: flex;
    align-items: center;
    /* TODO */
    gap: 16px;
}

#comments ol > li > p {
    font-size: 18px;
}

#comments ol > li > button {
    font-size: 18px;
    border: none;
    padding: 0;
    color: var(--mid-grey);
}

#comments > #respond > form {
    display: grid;

    gap: var(--spacing-small);

    grid-template-columns: repeat(3, 1fr);
}

#comments > #respond > form > * {
    grid-column: span 3;
}

#comments > #respond > form > button {
    grid-column: 3;
}
