@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?1kvrrh');
  src:  url('icomoon.eot?1kvrrh#iefix') format('embedded-opentype'),
    url('icomoon.ttf?1kvrrh') format('truetype'),
    url('icomoon.woff?1kvrrh') format('woff'),
    url('icomoon.svg?1kvrrh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-post:before {
  content: "\e900";
}
.icon-scribble:before {
  content: "\e901";
}
.icon-paper-plane:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\e903";
}
.icon-levels:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e905";
}
.icon-eye:before {
  content: "\e906";
}
.icon-diversity:before {
  content: "\e907";
}
.icon-energy:before {
  content: "\e908";
}
.icon-contrasts:before {
  content: "\e909";
}
.icon-box:before {
  content: "\e90a";
}
.icon-arrow-up:before {
  content: "\e90b";
}
.icon-arrow-right:before {
  content: "\e90c";
}
.icon-arrow-left:before {
  content: "\e90d";
}
.icon-arrow-down:before {
  content: "\e90e";
}
