@layer layout {
	body {
		color: var(--light);
		background-color: var(--dark);
	}

	/* HEADER */

	main > article > header > div {
		margin-top: var(--is-mobile, 48px) var(--is-desktop, 96px);

		display: flex;
		align-items: center;
		column-gap: 64px;
	}

	/* NOTE --width + column-gaps */
	@media (max-width: 1007.5px) {
		main > article > header > div {
			flex-direction: column;
			align-items: revert-layer;
		}
	}

	main > article > header > div > div {
		display: flex;
		align-items: center;
		gap: 24px;
	}
	
	main > article > header div > :is(span, h2) {
		font: var(--font-section-title-alternate);
	}
	
	main > article > header > div > div > .author > div {
		display: var(--is-mobile, revert-layer) var(--is-desktop, contents);
	}

	/* COMMENTS */

	#comments {
		margin-bottom: 0;
	}

	#comments ol > li > article > div > .comment-reply-link {
		color: var(--lighter-grey);
	}

	#comments ol > li > article > div > .comment-reply-link:hover {
		color: var(--light);
	}

	/* COMMENT FORM */

	#comment-form {
		margin-top: var(--is-mobile, 48px) var(--is-desktop, 96px);
		margin-bottom: var(--is-mobile, 96px) var(--is-desktop, 192px);
	}

	#comment-form > div > form > :is(textarea, input)::placeholder {
		color: var(--lighter-grey);
	}

	#comment-form > div > form > button {
		--background: var(--light);

		border-color: var(--background);
		color: var(--dark);
	}

	/* CONTACT */

	#contact {
		border-block: var(--border-thick);
	}
}
